/* Tags, IDs e Classes */

/* Tags */
p {
  font-size: 40px;
  color: rgb(49, 53, 54);
}
span {
  font-size: large;
  color: red;
}

p span {
  color: green;
  font-size: 70px;
}

h1 span {
  color: yellow;
}

/* IDs */
#ultima_linha {
  font-size: 22px;
  color: chocolate;
}

#p1,
#p2 {
  font-size: 12px;
  color: darkred;
}

/* Classes */
.Paragrafo {
  font-size: 20px;
}

.teste1 {
  font-size: 22px;
  color: rgb(42, 28, 28);
}
p.teste1 {
  font-size: 22px;
  color: rgb(42, 28, 28);
}
p .teste1 {
  color: aqua;
}
