/* Global */
body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}
p {
  font-size: 16px;
}

strong {
  font-weight: 600;
}
h2 {
  font-weight: 100;
}
.botao {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #404040;
}

/* Cabeçalho */

.item_lista a {
  font-size: 14px;
  color: #112e61;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

/* Hero */

h1 {
  font-size: 35px;
  color: #404040;
  font-weight: 600;
}

.link_do_hero {
  font-size: 24px;
  color: #fff;
  background-color: darkorange;
  font-weight: bold;
  text-decoration: none;
}

/* Gratuitos */
.Cor_font {
  color: #404040;
}
.titcontg {
  color: #fff;
  background-color: #7a40be;
  font-size: 23px;
  font-weight: 700;
}
.link_font {
  color: #404040;
  text-decoration: none;
  font-size: 19px;
}

.font2 {
  font-size: 35px;
  color: #404040;
  font-weight: 400;
}
.realce-roxo-rome {
  color: #7a40be;
  font-weight: 600;
}
/* h2.font2 span {
    color: #7a40be;
    font-weight: 600;
    } */

/* Diferenciais */
.fig_amarela {
  background-color: gold;
}
p.p_diferenciais,
.dados,
.pri_text,
.tam-p {
  font-size: 19px;
}

h3.tit_diferenciais {
  color: #005e88;
  font-size: 24px;
  font-weight: 600;
}

/* .font2 {
  font-size: 35px;
  color: #404040;
  font-weight: 400; */

.empresa {
  color: #005e88;
  text-decoration: none;
  font-size: 35px;
  font-weight: 700;
}

/* seção oq falam */
span.oqfalam-h2,
.font2 strong {
  font-weight: 600;
}
.h2-oqfalam,
.cadastro {
  font-size: 35px;
}
/* Na midia */

.h3-na_midia {
  font-size: 35px;
  font-weight: 100;
}

/* Blog # */
.h2-blog {
  font-size: 35px;
  color: #fff;
  background-color: darkorange;
}

.link_pg_blog {
  color: orange;
  text-decoration: none;
  font-weight: 600;
}
.link_video {
  font-size: 24px;
  color: #404040;
  text-decoration: none;
  font-weight: 600;
}
.p-blog {
  font-size: 17px;
}
.p_format_blog {
  font-size: 15px;
}
/* como # pode ajudar */

.h2_ajuda {
  background-color: #008ff7;
  color: #fff;
  font-size: 35px;
}

.links_txt {
  color: #008ff7;
  font-weight: 600;
}

/* roda pé*/
.p22 {
  font-size: 22px;
  font-weight: 600;
}
.p20 {
  font-size: 20px;
  font-weight: 500;
}
.p18 {
  font-size: 18px;
  font-weight: 500;
}
.a16 {
  font-size: 16px;
  color: #1a77a4;
}
